html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Pictures/Galaxy_Space.jpg);
    background-size: cover;
    background-position: center;
}

.intro {
    position: relative;
    /*height: 40vh; not doing anything*/
    width: 30vw;
    margin: 0 auto;
}
/*.header {
    height: 0vh;
} (not really doing anything)*/